    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <p>
                  I am fortunate enough to have found my passion at 19 years old in Massage Therapy, which led to my Yoga certification,
                  then Stand-up Paddleboard certification. Ecstatic about being my own boss for 2 years,
                  I must mention that I have 2 outstanding companies who use Massage and Yoga on regular basis,
                  as a complimentary service to their employees, 2 marvelous team members and never-ending opportunities in my future!
                </p>
                <p><a href="/documents/about.pdf" class="pull-right">Read more...</a></p>
            </div>
        </div>
    </section>
