    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  {% for about in site.data.about %}
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="heading{{ forloop.index }}">
                        <h4 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ about.id }}-{{ forloop.index }}" aria-expanded="true" aria-controls="collapse-{{ tab.id }}-{{ forloop.index }}">
                            {{ about.header }}
                          </a>
                        </h4>
                      </div>
                      <div id="collapse-{{ about.id }}-{{ forloop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ forloop.index }}">
                        <div class="panel-body">
                          {{ about.text }}
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </section>
