<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact</h2>

            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <strong>Mailing Address</strong>
              <div itemprop="streetAddress">80 Eureka Square, Unit 140</div>
              <span itemprop="addressLocality">Pacifica</span>,
              <span itemprop="addressRegion">CA</soan>
              <span itemprop="postalCode">94044</span>
            </address>

            <p itemscope itemtype="http://schema.org/LocalBusiness">
              <i class='fa fa-phone'></i> <span itemprop="telephone">{{ site.phone_number }}</span>
            </p>

            <p>
              <a href='mailto:{{ site.email }}' class="btn btn-info btn-lg"><i class="fa fa-envelope-o"></i> Email us</a>
              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#schedule-modal"><i class="fa fa-calendar"></i> Book now</button>
            </p>

            {% include social_buttons.html %}
        </div>
    </div>
</section>

<div class="modal fade" id="schedule-modal" tabindex="-1" role="dialog" aria-labelledby="schedule-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="schedule-modal-label">Book appointments</h4>
      </div>
      <div class="modal-body">
        <script type="text/javascript">
          healcode_widget_id = "87955298d6";
          healcode_widget_name = "appointments";
          healcode_widget_type = "mb";
          document.write(unescape("%3Cscript src='https://widgets.healcode.com/javascripts/hc_widget.js' type='text/javascript'%3E%3C/script%3E"));
          // Healcode Appointment Widget for Be Mobile Wellness : Appointments
        </script>
        <noscript>Please enable Javascript in order to get <a href="https://manager.healcode.com" target="_blank">HealCode</a> functionality</noscript>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="class-schedule-modal" tabindex="-1" role="dialog" aria-labelledby="class-schedule-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="class-schedule-modal-label">Class Sign-up</h4>
      </div>
      <div class="modal-body">
        <script src="https://widgets.healcode.com/javascripts/healcode.js" type="text/javascript"></script>
        <healcode-widget data-type="class_lists" data-widget-partner="mb" data-widget-id="871052398d6" data-widget-version="0.1"></healcode-widget>
      </div>
    </div>
  </div>
</div>
