    <!-- Pricing Section (called download internally) -->
    <section id="services" class="content-section text-center">
        <div class="download-section">
            <div class="container">
              <h2>Corporate Wellness Investment</h2>

              <div class="row">
                <div class="col-md-3 col-md-offset-2">
                  <div class="pricing-column intro-offer">
                    <div class="header">
                      On-Site<br/>Table<br/>Massage
                    </div>
                    <div class="section first">
                      <ul>
                        <li>Myoskeletal Technique</li>
                        <li>15-30 Min Sessions</li>
                        <li>Clothes-On </li>
                        <li>5-Hour Minimum</li>
                        <li>Monthly or Single Event</li>
                      </ul>
                    </div>
                    <div class="section last">
                      Please Call<br/>
                      (650) 516-7441<br/>
                      For Pricing!
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="pricing-column a-la-carte">
                    <div class="header">
                      <span>Anatomy<br/>Nerd<br/>Community</span>
                    </div>
                    <div class="section first">
                      <ul>
                        <li>1:1 Support</li>
                        <li>Break Reminders</li>
                        <li>Classes</li>
                        <li>Workshops</li>
                        <li>LIVE Events</li>
                        <li>Community Wellness Challenges</li>
                      </ul>
                    </div>
                    <div class="section last">
                      Please Call<br/>
                      (650) 516-7441<br/>
                      For Pricing!
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="pricing-column year-commitment">
                    <div class="header">
                      Healthy<br/>Workplace<br/>Culture
                    </div>
                    <div class="section first">
                      On-Site<br/>Table<br/>Massage
                      <br/>
                      ➕
                      <br/>
                      Virtual<br/>Online<br/>Community
                    </div>
                    <div class="section last">
                      Please Call<br/>
                      (650) 516-7441<br/>
                      For Pricing!
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>
