    <!-- Pricing Section (called download internally) -->
    <section id="pricing" class="content-section text-center">
        <div class="download-section">
            <div class="container">
              <h2>Corporate Wellness Investment</h2>

              <div class="row">
                <div class="col-md-3 col-md-offset-2">
                  <div class="pricing-column intro-offer">
                    <div class="header">
                      Intro<br/>Offer
                    </div>
                    <div class="section first">
                      3 months at $85/hour
                    </div>
                    <div class="section middle">
                      Virtual Online Community $99.99/yr/pp
                    </div>
                    <div class="section last">
                      After 3 months continue with 12-month commitment rate or increase rate or to A La Carte price structure
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="pricing-column a-la-carte">
                    <div class="header">
                      <span>A La Carte</span>
                    </div>
                    <div class="section first">
                      On-Site Table Massage $120/hour
                    </div>
                    <div class="section middle">
                      Virtual Online Community $99.99/yr/pp
                    </div>
                    <div class="section last">
                      <ul>
                        <li>Choose 1, 3, or 5 Visits each week</li>
                        <li>Minumum of 5-hours per visit</li>
                        <li>Online Scheduling System</li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-3">
                  <div class="pricing-column year-commitment">
                    <div class="header">
                      12-month<br/>Commitment
                    </div>
                    <div class="section first">
                      On-Site Table Massage $105/Hour
                    </div>
                    <div class="section middle">
                      Virtual Online Community $99.99/yr/pp
                    </div>
                    <div class="section last">
                      <ul>
                        <li>Choose 1, 3, or 5 Visits each week</li>
                        <li>Minumum of 5-hours per visit</li>
                        <li>Online Scheduling System</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#request-quote-modal">
                Take advantage of our 3-Month Special <br/> New Corporate Clients Only!
              </button>
            </div>
        </div>
    </section>
