    <!-- Download Section -->
    <section id="services" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Services provided</h2>
                    <div class="row">
                      <div class="section col-sm-6">
                        <h3>Corporate Massage</h3>
                        <ul>
                          <li>Table massage</li>
                          <li>Online scheduling</li>
                          <li>Flexible times</li>
                        </ul>
                      </div>
                      <div class="section col-sm-6">
                        <h3>Yoga Classes</h3>
                        <ul>
                          <li>Beginner classes</li>
                          <li>Hatha flow classes</li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="section col-sm-6">
                        <h3>Workshops</h3>
                        <ul>
                          <li>Foam Roller Demos</li>
                          <li>Yoga fundamentals</li>
                          <li>Stretching</li>
                        </ul>
                      </div>
                      <div class="section col-sm-6">
                        <h3>Stand up Paddle Board</h3>
                        <ul>
                          <li>Group classes</li>
                          <li>Private classes</li>
                        </ul>
                      </div>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#heal-code-modal">Get statrted today</button>
        </div>
    </section>
    <div class="modal fade" id="heal-code-modal" tabindex="-1" role="dialog" aria-labelledby="heal-code-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="heal-code-label">Heal Code Sign-In</h4>
          </div>
          <div class="modal-body">
            <iframe width="100%" height="500px" src="https://widgets.healcode.com/iframe/prospects/871195598d6/"></iframe>
          </div>
        </div>
      </div>
    </div>
