<form action="//bemobilewellness.us8.list-manage.com/subscribe/post?u=f3f22ca7ef4c121263bf33a24&amp;id=96b8b3e46d" method="post" class='form-inline'>
  <div class="form-group">
    <label class="sr-only" for="mce-EMAIL">Subscribe to our mailing list</label>
    <div class='input-group'>
      <input class='form-control input-lg' type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <span class='input-group-btn'>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_f3f22ca7ef4c121263bf33a24_96b8b3e46d" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" class="btn btn-info btn-lg">
      </span>
    </div>
  </div>
</form>
