<!-- BEGIN: Signup Form Manual Code from Benchmark Email Ver 3.0 ------>
<script type="text/javascript">
function isemail(data) {var flag = false;if (  data.indexOf("@",0)  == -1 || data.indexOf("\\",0)  != -1 ||data.indexOf("/",0)  != -1 ||!checkfield(data) ||  data.indexOf(".",0)  == -1  ||  data.indexOf("@")  == 0 ||data.lastIndexOf(".") < data.lastIndexOf("@") ||data.lastIndexOf(".") == (data.length - 1)   ||data.lastIndexOf("@") !=   data.indexOf("@") ||data.indexOf(",",0)  != -1 ||data.indexOf(":",0)  != -1 ||data.indexOf(";",0)  != -1  ) {return flag;} else {var temp = rmspaces(data);if (temp.indexOf(' ',0) != -1) { flag = true; }var d3 = temp.lastIndexOf('.') + 4;var d4 = temp.substring(0,d3);var e2 = temp.length  -  temp.lastIndexOf('.')  - 1;var i1 = temp.indexOf('@');if (  (temp.charAt(i1+1) == '.') || ( e2 < 1 ) ) { flag = true; }return !flag;}}
function _checkSubmit669392(frm){
  if ( !isemail(frm["fldEmail"].value) ) {
     alert("Please enter the Email Address");
     return false;
  }
  return true;
}
</script>
<div class="formbox-editor-669392">
  <form class='form-inline' action="https://lb.benchmarkemail.com//code/lbform" method=post name="frmLB669392" accept-charset="UTF-8" onsubmit="return _checkSubmit669392(this);" >
    <input type=hidden name=successurl value="http://www.benchmarkemail.com/Code/ThankYouOptin" />
    <input type=hidden name=errorurl value="http://lb.benchmarkemail.com//Code/Error" />
    <input type=hidden name=token value="mFcQnoBFKMR87xoLaZ7e2uZXUawFafLCzNMThOijJBEJKuq5YEc%2Feg%3D%3D" />
    <input type=hidden name=doubleoptin value="" /><fieldset><div class="formbox-title-669392"></div></fieldset>
    <div class='form-group'>
      <div class='input-group'>
        <input type='email' placeholder="email address" class="form-control input-lg formbox-field-669392" name="fldEmail" maxlength=100 />
        <span class='input-group-btn'>
          <button type="submit" id="btnSubmit" krydebug="1751" class="btn btn-info btn-lg formbox-button-669392">Subscribe</button>
        </span>
      </div>
    </div>
  </form>
</div>
<!-- END: Signup Form Manual Code from Benchmark Email Ver 3.0 ------>
