    <!-- Footer -->
    <footer class='bmw'>
        <div class="container">
          <div class='row hidden-xs'>
            <div class='col-sm-offset-4 col-sm-3'>
              <h4>Work with me</h4>
            </div>
            <div class='col-sm-3'>
              <h4>Conact</h4>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-offset-4 col-sm-3 nav-menu-column'>
              <h4 class='visible-xs-block'>Work with me</h4>
              <ul class='list-unstyled'>
                <li>
                  <a href="https://linkedin.com/in/vanessaragains">Meet Vanessa Ragains</a>
                </li>
                <li>
                  <a href="mailto:Vanessa@bemobilewellness.com">Speaking Opportunities</a>
                </li>
                <!--<li>
                  <a href="javascript:;">Table Vs. Chair Massage (soon)</a>
                </li>-->
                <li>
                  <a href="https://anatomy-nerd.mn.co/">Anatomy Nerd Community</a>
                </li>
              </ul>
            </div>
            <div class='col-sm-3 nav-menu-column'>
              <h4 class='visible-xs-block'>Contact</h4>
              <ul class='list-unstyled'>
                <li><a href='mailto:{{ site.email }}'>Email us </a></li>
                <li><a href='https://www.instagram.com/theanatomynerd/'>Message me on Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
