    <!-- Footer -->
    <footer class='bmw'>
        <div class="container">
          <div class='row hidden-xs'>
            <div class='col-sm-offset-2 col-sm-3'>
              <h4>Company</h4>
            </div>
            <div class='col-sm-3'>
              <h4>Clients</h4>
            </div>
            <div class='col-sm-3'>
              <h4>Support</h4>
            </div>
          </div>
          <div class='row'>
            <div class='col-sm-offset-2 col-sm-3 nav-menu-column'>
              <h4 class='visible-xs-block'>Company</h4>
              <ul class='list-unstyled'>
                <li>
                  <a href="https://linkedin.com/in/vanessaragains">Meet Vanessa Ragains</a>
                </li>
                <li>
                  <a href="mailto:Vanessa@bemobilewellness.com">Speaking Opportunities</a>
                </li>
                <!--<li>
                  <a href="javascript:;">Table Vs. Chair Massage (soon)</a>
                </li>-->
                <li>
                  <a href="https://anatomy-nerd.mn.co/">Anatomy Nerd Community</a>
                </li>
              </ul>
            </div>
            <div class='col-sm-3 nav-menu-column'>
              <h4 class='visible-xs-block'>Customers</h4>
              <ul class='list-unstyled'>
                <li><a href='http://www.westernallied.com/'>Western Allied</a></li>
                <li><a href='https://www.sprinklr.com/'>Sprinklr</a></li>
                <li><a href='https://www.franklintempleton.com/'>Franklin Templeton</a></li>
                <li><a href="https://wework.com/buildings/400-concar-dr--sf-bay-area--CA">WeWork - San Mateo</a></li>
              </ul>
            </div>
            <div class='col-sm-3 nav-menu-column'>
              <h4 class='visible-xs-block'>Support</h4>
              <ul class='list-unstyled'>
                <li><a href='mailto:hello@bemobilewellness.com'>Email us </a></li>
                <li>Call Us: (650) 516-7441 M-F 6-5 PM</li>
                <li><a href='/helpcenter'>Help Center</a></li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
