    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row main-section">
                    <div class="col-md-6">
                      <h1 class="sr-only">{{ site.title }}</h1>
                      <img class="main-logo" src="/img/secondary-logo.png" alt="{{ site.title }}" />
                    </div>
                    <div class="col-md-6">
                        <!-- <p class="intro-text">{{ site.sub_title }}</p> -->
                        <br/></br/><br/></br/><br/></br/>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#schedule-modal">
                          <i class="fa fa-calendar"></i> Book now
                        </button>
                        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#class-schedule-modal">
                          Class Sign-up <i class="fa fa-calendar"></i>
                        </button>
                        <i data-behavior='popup-video' data-modal-target='#sign-up-video-modal' class='fa fa-question-circle sign-up-video-icon'></i>
                        <p>{% include embedded_email_form.html  %}</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="modal fade" id="sign-up-video-modal" tabindex="-1" role="dialog" aria-labelledby="sign-up-video-modal-label" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="sign-up-video-label">Class Sign-up Demo</h4>
          </div>
          <div class="modal-body">
            <iframe width="100%" height="500px" src="https://www.youtube.com/embed/P7rFPeSrAYI" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
