    <!-- Intro Header -->
    <header class="intro" data-slideshow-urls='{{ site.slideshow.images }}' data-slideshow-delay='{{ site.slideshow.delay }}'>
        <div class="intro-body">
            <div class="container">
                <div class="row main-section">
                    <div class="col-md-6">
                      <div class="intro-spacer">
                        <br/></br/><br/></br/><br/></br/>
                      </div>
                      <h1 class="sr-only">{{ site.title }}</h1>
                      <img class="main-logo" src="/img/secondary-logo.png" alt="{{ site.title }}" />
                      <div>
                          <!-- <p class="intro-text">{{ site.sub_title }}</p> -->

                          <div class="btn-group">
                            <ul class="dropdown-menu">
                              {% for booknow in site.data.booknow %}
                                <li>
                                  <a href="{{ booknow.url }}" {% if booknow.modal %} data-toggle="modal" data-target="{{ booknow.modal_target }}" {% endif %}>
                                    {{ booknow.text }}
                                  </a>
                                </li>
                              {% endfor %}
                            </ul>
                          </div>
                          <a class="btn btn-alert btn-lg" href="https://anatomy-nerd.mn.co/">
                            Join My MOVEment: Creating a Healthy Workplace Culture
                          </a>
                          {% if site.sign_up_video.enabled %}
                            <i data-behavior='popup-video' data-modal-target='#sign-up-video-modal' class='fa fa-question-circle sign-up-video-icon'></i>
                          {% endif %}
                          <p>
                            <br/>
                            <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#request-quote-modal">Take advantage of our 3-Month Special</button>
                          </p>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
