{% if site.sign_up_video.enabled %}
  <div class="modal fade" id="sign-up-video-modal" tabindex="-1" role="dialog" aria-labelledby="sign-up-video-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="sign-up-video-label">{{ site.sign_up_video.title }}</h4>
        </div>
        <div class="modal-body">
          <iframe width="100%" height="500px" src="{{ site.sign_up_video.url }}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="login-modal-label">Login</h4>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="500px" src="https://www.wellnessliving.com/login/be_mobile_wellness" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="register-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="register-modal-label">Register</h4>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="500px" src="https://www.wellnessliving.com/selfsignup/Elal3z" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="request-quote-modal" tabindex="-1" role="dialog" aria-labelledby="request-quote-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="request-quote-label">Request a Quote</h4>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="500px" src="https://docs.google.com/a/bemobilewellness.com/forms/d/e/1FAIpQLSd1aXUwOq9SU2McCu6aK4HbR7hzPbAS-iJLQqUTCilz-U9_Dg/viewform?embedded=true"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="class-schedule-modal" tabindex="-1" role="dialog" aria-labelledby="class-schedule-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="class-schedule-modal-label">Class Sign-up</h4>
      </div>
      <div class="modal-body">
        <div class="wl-widget" data="k_skin=22402"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="meet-the-team-modal" tabindex="-1" role="dialog" aria-labelledby="meet-the-team-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="meet-the-team-modal-label">Meet the Team</h4>
      </div>
      <div class="modal-body">
        <div class="wl-widget" data="k_skin=22407"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="store-modal" tabindex="-1" role="dialog" aria-labelledby="store-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="store-modal-label">Store</h4>
      </div>
      <div class="modal-body">
        <div class="wl-widget" data="k_skin=22406"></div>
      </div>
    </div>
  </div>
</div>

<script src="https://www.wellnessliving.com/rs/skin-widget-static.js" type="text/javascript"></script>
