/*
  Colors:
  text: #318483;
  background: #f3f3f3;
  butons/nav: #f37250; (#52c1b4)
  headings/links: #ef4344;
*/

/* Overrides */
body {
  background-color: #f3f3f3;
  color: #000000;
}

h1 { color: #ef4344; margin-bottom: 20px; }
h2,
h3,
h4,
h5,
h6 {
  color: #ef4344;
}

a {
  color: #ef4344;
}

address {
  font-size: 20px;
}

.navbar-custom a, .navbar-custom i {
  color: #ef4344;
}

.top-nav-collapse {
  background-color: #f3f3f3;
}

.navbar-custom.top-nav-collapse a {
  color: #ef4344;
}

.navbar-custom .nav li.active {
  background-color: #ef4344;

}
.navbar-custom .nav li.active a {
  color: #ffffff;
}

.login-video-icon {
  bottom: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 18px;
}


/*@media(min-width:767px) {
  .intro .intro-body .intro-text {
    font-size: 36px;
  }
}*/

/* Button overrides */
.btn-default {
  border: 1px solid #000000;
  background-color: #eed813;
  color: #000000;
}

.btn-default:active, .btn-default:focus, .btn-default:hover {
  border: 1px solid #eed813;
  background-color: #000000;
  color: #eed813;
}

.btn-info {
  border: 1px solid #f3f3f3;
  background-color: #52c1b4;
  color: #f3f3f3;
}

.btn-info:active, .btn-info:focus, .btn-info:hover {
  border: 1px solid #52c1b4;
  background-color: #ffffff;
  color: #52c1b4;
}

.btn-circle, .btn-circle:active, .btn-circle:focus, .btn-circle:hover {
  color: #ef4344;
  border: 4px solid #ef4344;
}

/* Intro section */
.intro-text, .site-title {
  text-shadow: 1px 1px 0 #000000;
}
.main-logo {
  max-height: 300px;
}

/* Header Section */
.header-widget healcode-widget {
  padding: 15px;
  display: block;
}

/* Download/Services Section */
.download-section ul {
  list-style-type: none;
  padding-left: 0;
}

.download-section {
  text-shadow: 2px 2px 3px #000000;
}

.download-section .row {
  margin-bottom: 10px;
}

.download-section .media img {
  max-height: 90px;
}

/* Contact Section */
ul.banner-social-buttons li {
  display: inline-table;
}

blockquote footer {
  padding: 0;
}

/* Project WOO Page */
.intro.projectwoo-intro {
  background: url(/img/projectwoo-intro-bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

footer.bmw {
  min-height: 300px;
  background-color: #eed813;
}

footer.bmw, footer.bmw a, footer.bmw h4 {
  color: #000000;
}

footer.bmw a:hover {
  color: #000000;
}

footer.bmw .nav-menu-column {
  border-left: 1px solid #000000;
  min-height: 130px;
}

@media (max-width: 767px) {
  footer.bmw { text-align: center; }
  footer.bmw .nav-menu-column { border-left: none; }
}
