/*
  Colors:
  text: #318483;
  background: #f3f3f3;
  butons/nav: #f37250;
  headings/links: #f37250;
*/

/* Overrides */
body {
  background-color: #f3f3f3;
  color: #318483;
}

h1 { color: #f3f3f3; margin-bottom: 20px; }
h2,
h3,
h4,
h5,
h6 {
  color: #f37250;
}

a {
  color: #f37250;
}

.navbar-custom a {
  color: #f3f3f3;
}

.top-nav-collapse {
  background-color: #f3f3f3;
}

.navbar-custom.top-nav-collapse a {
  color: #f37250;
}

.navbar-custom .nav li.active {
  background-color: #f37250;

}
.navbar-custom .nav li.active a {
  color: #f3f3f3;
}


@media(min-width:767px) {
  .intro .intro-body .intro-text {
    font-size: 36px;
  }
}

/* Button overrides */
.btn-default {
  border: 1px solid #f37250;
  color: #f37250;
}

.btn-default:active, .btn-default:focus, .btn-default:hover {
  border: 1px solid #f37250;
  background-color: #f37250;
  color: #f3f3f3;
}

.btn-info {
  border: 1px solid #f3f3f3;
  background-color: #f37250;
  color: #f3f3f3;
}

.btn-info:active, .btn-info:focus, .btn-info:hover {
  border: 1px solid #f37250;
  background-color: #f3f3f3;
  color: #f37250;
}

.btn-circle, .btn-circle:active, .btn-circle:focus, .btn-circle:hover {
  color: #f3f3f3;
  border: 4px solid #f3f3f3;
}

/* Intro section */
.intro-text, .site-title {
  text-shadow: 1px 1px 0 #000000;
}

/* Header Section */
.header-widget healcode-widget {
  padding: 15px;
  display: block;
}

/* Download/Services Section */
.download-section ul {
  list-style-type: none;
  padding-left: 0;
}

.download-section {
  text-shadow: 2px 2px 3px #000000;
}

/* Contact Section */
ul.banner-social-buttons li {
  display: inline-table;
}

blockquote footer {
  padding: 0;
}
